<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rustavoid{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css?v=1">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <header class="topbar">
        <div class="container">
            <h1>Rustavoid</h1>
            <p>Registre compras e serviços ruins para evitar repetir erro.</p>
        </div>
    </header>

    <main class="container">
            {% block content %}{% endblock %}
    </main>
</body>
</html>
